
@{
    ViewData["Title"] = "ComplainFormAfter";
}

<h1>ComplainFormAfter</h1>
<div>
    Hello @ViewBag.UserName @ViewBag.UserLastName!
    <hr/>
    Your complain get to our data base, we do our best to improve this site.
    <hr />
    Have a nice day.
</div>

