
@{
    ViewData["Title"] = "ComplainFormAfter";
}

<h1>Welcome</h1>
<!--div with data from user-->
<div>
    Hello @ViewBag.UserName @ViewBag.UserLastName!
    <hr />
    Your complain get to our data base, we do our best to improve this site.
    <hr />
    @ViewBag.Complain
    <hr />
    Have a nice day.
</div>

