@{
    ViewData["Title"] = "Suits Shop";
}

<div class="text-center">
    <h1 class="display-4">Suits You Well!</h1>
    
    <hr />
        <!--przejscie do podstrony ze wszystkimi garniturami  (nazwa linku), (Nazwa funkcji operujacej), (nazwa Klasy kontrolera)-->
        <h3>@Html.ActionLink("Get all suits", "GetAllSuits", "Home")</h3>

    <hr />
        <!--przejscie do podstrony ze wszystkimi whiskey  (nazwa linku), (Nazwa funkcji operujacej), (nazwa Klasy kontrolera)-->
        <h3>@Html.ActionLink("Choose your drink", "GetAllWhiskey", "Home")</h3>

    <hr />

</div>
