@{
    ViewData["Title"] = "Site Details";
}
<h1>@ViewData["Title"]</h1>

<p>Site created by Jakub Kazimierski</p>
<hr/>
<p>To see details feel free to visit my GitHub page : <a href="https://github.com/JakubKazimierski">Jakub Kazimierski</a> </p>
